/*
Paleta de Colores:
Crema #fbf8ee
Lila Claro #dddaf4
Lila Oscuro #9fa8f0
Violeta #473c8b
Violeta Oscuro #22224f
*/
@media (min-width: 375px) and (max-width: 767px) {
  .carousel {
    max-width: 100%;
  }
  .header__menu {
    max-width: 100%;
  }
  .text-center {
    max-width: 100%;
  }
}

* {
  font-family: calibri;
  background-color: #fbf8ee;
  color: #9fa8f0;
  margin: 1vw;
}

body {
  background-color: #fbf8ee;
  color: #9fa8f0;
  margin: 10px 10px 10px 10px;
  /*div	{
		display: grid;
		grid-template-columns: 2fr 1fr;
	}*/
}

body h1 {
  margin: 50px;
  color: #22224f;
  text-align: right;
  text-decoration: underline;
  font-style: bold;
}

body .navbar {
  background-color: #fbf8ee;
}

body h5 {
  color: #473c8b;
  padding: none;
}

body h3 {
  letter-spacing: 2px;
  text-align: center;
}

body nav {
  color: #9fa8f0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .encabezado {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

main {
  background-color: #fbf8ee;
  border-style: dotted;
  border-spacing: 1px;
  border-color: #22224f;
  padding: 2vw;
  display: -ms-grid;
  display: grid;
}

main .header {
  text-align: center;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabla {
  border-style: solid;
  border-color: #22224f;
  width: 75%;
  border-radius: 20px;
  border-width: 2px;
  padding: 1px;
  vertical-align: middle;
  text-align: center;
}

.carousel {
  max-height: 1000px;
  max-width: 1000px;
  margin: auto;
}

.calendario_tabla {
  width: 75%;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  padding: 1px;
  vertical-align: middle;
  text-align: center;
}

aside {
  text-align: center;
}

/*Estilos del Footer*/
.contacto {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'contacto tipo_info';
}

.btn {
  background-color: #22224f;
  color: #fbf8ee;
}

/*Estilos de Cards*/
.cards {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'item_1 item_2 item_3' 'item_4 item_5 item_6';
  -ms-grid-columns: 25fr, 25fr, 25fr;
      grid-template-columns: 25fr, 25fr, 25fr;
  grid-column-gap: 5px;
}

.hover {
  -webkit-transform: scale(1, 1.25);
          transform: scale(1, 1.25);
  overflow: hidden;
}

/*Estilo de reciclaje*/
.header {
  display: block;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.header .hmenu {
  color: #473c8b;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  padding: 20px;
}

.header .hintro {
  text-align: left;
  color: #473c8b;
  text-decoration: underline;
  font-style: bold;
}

.header .hparrafo {
  font-size: 20px;
  text-align: justify;
}

.header .himg {
  border-radius: 20px;
  max-height: 500px;
  max-width: 300px;
  -ms-flex-line-pack: center;
      align-content: center;
}

a {
  text-decoration: none;
  color: #473c8b;
}
/*# sourceMappingURL=estilo.css.map */